@model List<TrivagoFinance.Ui.ViewModels.UserVIewModel>
@{
    ViewData["Title"] = "Team Lead View";
}

<h1>TeamLead</h1>

<div class="">
    <div class="card-deck">
        @if (Model.Count > 1)
        {
            @foreach (var employee in Model)
            {
                var imagePath = Url.Content("~/images/users/" + (employee.PhotoPath ?? "noimage.jpg"));
                <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
                    <div class="card-header">
                        <h3>@employee.FirstName</h3>
                    </div>
                    <img class="card-img-top imageThumbnail" src="@imagePath" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a asp-controller="User" asp-action="Details" asp-route-id="@employee.Id" asp-for class="btn btn-primary m-1">Details</a>
                        @*<a asp-controller="User" asp-action="" asp-route-id="@employee.Id" class="btn btn-danger m-1">Decline</a>*@
                    </div>
                </div>
            }
        }
        @if (Model.Count == 1)
        {
            @foreach (var singleEmployee in Model)
            {
                var imagePath = Url.Content("~/images/users/" + (singleEmployee.PhotoPath ?? "noimage.jpg"));
                <div class="card m-3">
                    <div class="card-header">
                        <h3>@singleEmployee.FirstName</h3>
                    </div>
                    <img class="card-img-top imageThumbnail" src="@imagePath" asp-append-version="true" />
                    <div class="card-footer text-center">
                        <a asp-controller="User" asp-action="Details" asp-route-id="@singleEmployee.Id" asp-for class="btn btn-primary m-1">Details</a>
                        @*<a asp-controller="User" asp-action="" asp-route-id="@employee.Id" class="btn btn-danger m-1">Decline</a>*@
                    </div>
                </div>
            }

        }
        @if(Model.Count == 0)  
        {
            <div class="card m-3">
                <h3>There are no Pending Requests.</h3>
            </div>
        }

    </div>
</div>